
IMDB Files/title.ratings.tsv/data.tsv
IMDB Files/title.principals.tsv/data.tsv
IMDB Files/title.episode.tsv/data.tsv
IMDB Files/title.crew.tsv/data.tsv
IMDB Files/title.basics.tsv/data.tsv
IMDB Files/title.akas.tsv/data.tsv
IMDB Files/name.basics.tsv/data.tsv
